---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Monarch Media LLC | Coming Soon!">
    <!-- <div class="absolute w-full">
        <div class="z-10 w-full">
            <h2 class="">Look forward to these services</h2>
        </div>
    </div> -->
</Layout>
