---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16 text-center">
    <div class="flex-row text-white">
        Copyright © {new Date().getFullYear()} Monarch Media LLC. All rights reserved.
    </div>
    <p class="text-gray-100 flex items-start pt-4 justify-center">
        Website by <img class="px-2 h-5 inline-block drop-shadow-sm" alt="Monarch Media LLC" src="https://i.postimg.cc/XJPr9Tyd/Monarch-inline-whtcol.png" />
    </p>
</footer>
